<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/store.css"> 
    <link rel="stylesheet" href="/css/item.css"> 
</head>
<body>
<main>
{{ header | raw }}
{{ menu | raw }}
{{ content | raw}}
</main>
{{ footer | raw}}
</body>
</html>