<header>
    <div class="projectName">
        ДЗ к Продвинотому курсу РНР от <a href="https://www.gb.ru" class="projectName">GeekBrains</a>
    </div>
    <div class="authBlock">
        <div class="orderPlace">
            <? if(false) : ?>
              <a href="/orders"><button>Orders</button></a>  
            <? endif; ?>
        </div>
        <div class="cartPlace">
            <a href="/cart/show"><button>Cart</button></a>    
        </div>
        <div class="regPlace" style="margin-left:10px">   
            {% if isAuth  %}
                <a href="/user/logout"><button id='outBtn'>LogOut</button></a>
            {% else %}
                <a href="/user/loginform"><button>LogIn</button></a>
            {% endif %}
        </div>
    </div>     
</header>